body {
  font-family: "Poppins", sans-serif;
  color: $text1;
  background: $bg-light;
}
img {
  display: block;
  width: 100%;
}

.mybg {
  background-image: radial-gradient(
      circle at 0 0,
      #5fd5b6 0,
      rgba(95, 213, 182, 0) 30%
    ),
    linear-gradient(
      180deg,
      rgba(121, 223, 255, 0.7) -10%,
      rgba(121, 223, 255, 0) 70%
    ),
    radial-gradient(circle at 95% 0, #d0f224 0, rgba(95, 213, 182, 0) 20%);
}

.badge {
  background: $bg-secondary;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  margin: 0.3rem 0.3rem;
  display: inline-block;
}
h1 {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: $accent;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: $accent;
}
p {
  margin-bottom: 1rem;
}
p.quote {
  width: 80%;
  text-align: center;
  align-self: center;
  margin-bottom: 2rem;
}

.link__btn {
  background: #facf0f;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border: 0;
  align-self: center;
}
.link__btn--sm {
  padding: 0.5rem 2rem;
}
.link {
  align-self: center;
}

.detail {
  max-width: $width-lg;
  margin-bottom: 8rem;
}
.detail__img {
  padding: 2rem;
}

.pas {
  background: $primary;
  padding: 4rem;
}

.matt {
  margin-top: -8rem;
  margin-inline: auto;
  background: $bg-dark;
  color: white;
  border-radius: $radius1;
  max-width: $width-lg;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
}
.matt__cnt {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.contact {
  margin: 0 auto;
  padding: 1rem 1rem;
  max-width: $width-lg;
  display: flex;
  flex-direction: column;
}
.contact_alert__err {
  color: $danger;
}
.contact_alert__suc {
  color: $success;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__btn {
  align-self: center;
  margin: 1rem;
}
