.projects {
  margin: 0 auto;
  display: flex;
  max-width: $width-lg;
  flex-direction: column;
}
.cardproject {
  display: flex;
  margin: 2rem 0;

  &__img {
    flex: 1 1 50%;
    padding: 3rem;
  }
  &__txt {
    flex: 1 1 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: 2rem;
    }
  }
  &__title {
    margin-bottom: 0.5rem;
  }
  &__btns {
    display: flex;
    justify-content: space-evenly;
  }
  &__tech {
    display: flex;
    font-size: 2rem;
    margin-bottom: 1rem;
    > * {
      padding: 0 0.3rem;
    }
  }
}
@media screen and (max-width: $break-md) {
  .cardproject {
    flex-direction: column;
  }
}
@media screen and (min-width: $break-md) {
  .cardproject {
    &:nth-of-type(even) .cardproject__img {
      order: 1;
    }
  }
}

#mern {
  position: relative;
}
#mern * {
  filter: blur(5px);
}
#mern::after {
  content: "SOON";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #fff; */
  font-size: 3rem;
  font-weight: bold;
}
