/* Max container width sm:540px	md:720px	lg:960px	xl:1140px */
:root {
  --radius1: 0.375rem;
  --form-bg: white;
  --form-color2: #777;
  --form-color3: #cf2c2c;

  --form-font-color: black;
  --form-text2: rgb(255, 255, 255);

  --form-focus: var(--form-color3);
  --option-bg: var(--form-bg);
  --form-arrow: var(--form-color2);
  --form-border: 1px solid var(--form-color2);
  --form-border-radius: var(--radius1);
  --form-font-size: 1rem;
  --form-line-height: 1.5;
  --form-padding: 0.375rem 0.75rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.layout-lg {
  /* overflow: hidden; */
  margin: 0 auto;
  max-width: 960px;
  /* height: 100%; */
}
.shadow-sm {
  box-shadow: 0 4px 0.5rem -0.125rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 5px 20px 0 rgba(234, 32, 39, 0.3);
}

.btn {
  background-color: rgba(23, 26, 32, 0.8);
  border: none;
  margin-bottom: 1px;
  border-radius: 6px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 185px;
  padding: 0 16px 0 16px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: rgba(23, 26, 32, 1);
  cursor: pointer;
}

.btn--success {
  background-color: #04aa6d;
} /* Green */
.btn--success:hover {
  background-color: #46a049;
}

.btn--info {
  background-color: #2196f3;
} /* Blue */
.btn--info:hover {
  background: #0b7dda;
}

.btn--warning {
  background-color: #ff9800;
} /* Orange */
.btn--warning:hover {
  background: #e68a00;
}

.btn--danger {
  background-color: #f44336;
} /* Red */
.btn--danger:hover {
  background: #da190b;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ipt {
  border: var(--form-border);
  border-radius: var(--form-border-radius);
  padding: var(--form-padding);
  font-size: var(--form-font-size);
  background-color: var(--form-bg);
  color: var(--form-font-color);
  line-height: var(--form-line-height);

  font-weight: 400;
  display: block;
  width: 100%;
  /* background-clip: padding-box; */
  transition: all 0.15s ease-in-out;
}
textarea::placeholder {
  font-family: Arial, sans-serif;
  font-size: var(--form-font-size);
  font-weight: 400;
}

.ipt-forbtn {
  border-radius: var(--radius1) 0 0 var(--radius1);
}
.ipt-btn {
  width: 40px;
  /* height: 36px; */
  line-height: var(--form-line-height);
  border: var(--form-border);
  background: var(--form-color2);
  color: var(--form-text2);
  text-align: center;
  border-radius: 0 var(--radius1) var(--radius1) 0;
  cursor: pointer;
  font-size: 20px;
}
.ipt-btn:hover {
  /* border: 1px solid var(--form-bg); */
  background: var(--form-bg);
}

/* Select customization */

/* A reset of styles, including removing the default dropdown arrow */
/* Additional resets for further consistency */
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
.select {
  width: 100%;
  /* min-width: 15ch;
    max-width: 30ch; */
  border: var(--form-border);
  border-radius: var(--form-border-radius);
  padding: var(--form-padding);
  font-size: var(--form-font-size);
  background-color: var(--form-bg);
  line-height: var(--form-line-height);

  cursor: pointer;
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}
/* arrow */
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--form-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
select,
.select:after {
  grid-area: select;
}
select option {
  background: var(--option-bg);
  color: var(--form-font-color);
}
/* option:not(:checked) {
    background-color: #57c425;
  } */

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--form-focus);
  border-radius: inherit;
}
.select--disabled {
  cursor: not-allowed;
  background-color: var(--form-color2);
  /* background-image: linear-gradient(to top, #ddd, #eee 33%); */
}

/* specific */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");

:root {
  --bg-light: #f1fff9;
  --bg-dark: #363636;
  --bg-secondary: silver;
  --primary: #061161;
  --secondary: #aa090e;
  --accent: #ffe10a;
  --text1: #301f40;
  --text2: #f1fff9;
  --radius1: 7px;

  --success: green;
  --info: gray;
  --warning: gray;
  --danger: red;

  --dark0: black;
  --shadow1: 0 4px 0.5rem -0.125rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.06);
  --gradient1: linear-gradient(180deg, #061161, #aa090e);
  --gradient2: linear-gradient(700deg, #061161, #aa090e);
  --width-lg: 960px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text1);
  background: var(--bg-light);
}
img {
  display: block;
  width: 100%;
}
.header {
  background: var(--bg-light);
}
.navbar {
  margin: 0 auto;
  width: var(--width-lg);
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 80px;
  padding: 0 2rem;
}
.navbar__logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", cursive;
  font-size: 3rem;
  font-weight: bold;
  /* text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: -20px; */
  position: relative;
  isolation: isolate;
}
.navbar__logo::before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 19px;
  width: 97%;
  height: 13px;
  transform: skew(-20deg);
  background: var(--accent);
  z-index: -1;
}
.navbar__logo span {
  font-family: "Montserrat", cursive;
  font-size: 0.6rem;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: -10px;
  margin-left: 2rem;
  letter-spacing: 1.4rem;
  /* background: var(--accent);
  padding: 0rem 0rem 0rem 1.5rem; */
}
.navbar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar__item {
  display: inline;
  margin: 1rem;
}
.navbar__item a {
  color: var(--text1);
  text-decoration: none;
}
.navbar__item a:hover {
  text-decoration: underline;
}

.projects {
  display: flex;
  max-width: var(--width-lg);
  flex-direction: column;
}
.cardproject {
  display: flex;
  margin: 2rem 0;
}
.cardproject:nth-of-type(even) .cardproject__img {
  order: 1;
}

.cardproject__img {
  flex: 1 1 50%;
  padding: 3rem;
}
.cardproject__txt {
  flex: 1 1 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.cardproject__title {
  margin-bottom: 0.5rem;
}
.cardproject__txt p {
  margin-bottom: 2rem;
}
.cardproject__btns {
  display: flex;
  justify-content: space-evenly;
}
.cardproject__tech {
  display: flex;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.cardproject__tech > * {
  padding: 0 0.3rem;
}
.mybg {
  background-image: radial-gradient(
      circle at 0 0,
      #5fd5b6 0,
      rgba(95, 213, 182, 0) 30%
    ),
    linear-gradient(
      180deg,
      rgba(121, 223, 255, 0.7) -10%,
      rgba(121, 223, 255, 0) 70%
    ),
    radial-gradient(circle at 95% 0, #d0f224 0, rgba(95, 213, 182, 0) 20%);
  /* opacity: 0.4; */
  /* background-blend-mode: lighten; */
}
.main {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: var(--width-lg);
}
.badge {
  background: var(--bg-secondary);
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  margin: 0.3rem 0.3rem;
  display: inline-block;
}
h1 {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--accent);
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--accent);
}
p {
  margin-bottom: 1rem;
}
p.quote {
  width: 80%;
  text-align: center;
  align-self: center;
  margin-bottom: 2rem;
}
.link__btn {
  background: #facf0f;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border: 0;
  align-self: center;
}
.link__btn--sm {
  padding: 0.5rem 2rem;
}
.link {
  align-self: center;
}
.about__link {
  margin: 2rem;
}
.detail {
  max-width: var(--width-lg);
}
.detail__img {
  padding: 2rem;
}
.divider {
  position: relative;
  text-align: center;
}
.divider:before {
  content: "";
  position: absolute;
  background: var(--accent);
  /* border-radius: 25px; */
  transform: skewY(-2deg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  height: 150px;
  width: 100%;
}
.hero2 {
  text-align: center;
}
.footer {
  background: var(--bg-dark);
  color: var(--text2);
}
.footer__main {
  display: flex;
  justify-content: space-between;
}
.footer__main__left {
  width: 40%;
}
.footer__main__socials {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}
.footer__last {
  text-align: center;
  font-weight: 200;
  margin: 0.3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--width-lg);
}
.hero h1 {
  margin: 2rem;
  margin-bottom: 4rem;
}
.hero__cnt {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
}
.hero__cnt__img {
  width: 220px;
  border-radius: var(--radius1);
  overflow: hidden;
}
.card1 {
  transform: rotateZ(-5deg) scale(0.9) translateX(40px) translateY(20px);
  z-index: 1;
}
.card2 {
  transform: rotateZ(-2deg);
  z-index: 2;
}
.card3 {
  transform: scale(1.2) translateY(-20px);
  /* transform: perspective(800px) rotateX(-10deg) scale(1.2) translateY(-10px); */
  z-index: 3;
}
.card4 {
  transform: rotateZ(2deg);
  z-index: 2;
}
.card5 {
  transform: rotateZ(5deg) scale(0.9) translateX(-40px) translateY(20px);
  z-index: 1;
  background: var(--bg-secondary);
}

.detail {
  margin-bottom: 8rem;
}
.pas {
  background: var(--primary);
  padding: 4rem;
}

.matt {
  margin-top: -8rem;
  margin-inline: auto;
  background: var(--bg-dark);
  color: white;
  border-radius: var(--radius1);
  max-width: var(--width-lg);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
}
.matt__cnt {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
.about {
  display: flex;
  flex-direction: column;
}
.contact {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__btn {
  align-self: center;
  margin: 1rem;
}
.about__skills {
  margin-bottom: 2rem;
}
.about__skills__logos {
  /* align-self: stretch; */
}

.modsvg {
  width: 150px;
  /* filter: saturate(0%); */
  filter: grayscale(100%) brightness(70%);
  /* filter: invert(100%); */
  /* filter: blur(3px); */
}
.contact_alert__err {
  color: var(--danger);
}
.contact_alert__suc {
  color: var(--success);
}
.educard {
  /* width: 200px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 2rem 1rem 2rem;
}
.educard__logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.educard__svg {
  width: 100%;
  filter: grayscale(100%) brightness(70%);
}
.educard__title {
  font-size: 1rem;
  font-weight: bold;
}
.educard__text {
  width: 150px;
  /* display: block; */
  font-size: 0.8rem;
  text-align: center;
}

.edus {
  color: var(--bg-dark);
  opacity: 0.7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.svgicon {
  width: 40px;
  filter: grayscale(100%) brightness(30%);
}
.svgiconSm {
  width: 40px;
  filter: grayscale(100%) brightness(30%);
}
.svgwrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svgiconLg {
  width: 100px;
  /* filter: grayscale(100%) brightness(30%); */
  /* 
  color: var(--bg-dark);
  opacity: 0.7; */
}
.logos {
  width: 100%;
  font-size: 5rem;
  color: var(--bg-dark);
  opacity: 0.5;
  margin-bottom: 1rem;
}
.slider-list {
  text-align: center !important;
  align-items: center;
  align-content: center;
}

.togg1 {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--accent);
  outline: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: relative;
}

.togg {
  transform: scale(0.8);
}
.togg2 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transform: scale(0.7);
  background-color: white;
  /* border: 2px solid black; */
  transition: all 0.2s ease-in-out;
  /* box-shadow: 0 0.1em rgba(0, 0, 0, 0.5); */
  /* z-index: 3; */

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0;
}

.togg1.active {
  background-color: var(--text1);
}
.togg2.active {
  left: 40px;
}
